html{
    background-color: #B7C5B7 !important;
}

.off-white{
    color: rgba(255,255,255,.9) !important;
}

.blk-txt{
    color: black !important;
}

.lt-olive-bckg{
    background-color: #B7C5B7 !important;
}

.orange-bckg{
    background-color: #DDA571 !important;
    padding: 10px !important;
}

.olive-bckg{
    background-color: #50714A !important;
}

.grey-bckg{
    background-color: #D9D9D9 !important;
}

.olv-bord{
    border:#50714A !important;
    border-width: 4px;
    border-style: solid !important;
}

.olv-btn{
    background-color: #7EAF76 !important;
}

.no-border{
    border: none !important;
}

.half{
    width: 50% !important;
}

.mg-tp-sm {
    margin-top: 10px !important;
}

.mg-btm-sm{
    margin-bottom: 10px !important;
}

.mg-med{
    margin: 20px;
}

.pd-sm{
    padding-bottom: 10px !important;
}

.pd-lg{
    padding-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 15px !important;
}

.mg-rt.sm{
    margin-right: 10px !important;
}

.cropped-img{
    width: 100vw;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}